body
{
    font-size: 12px;
    font-family: "Kozuka Gothic Pro EL", "Kozuka Gothic Pro L", "Meiryo UI", sans-serif;

    color: rgb(80, 80, 80);
}

div.contents
{
    width: 750px;

    margin-left: auto;
    margin-right: auto;
}

div.contents iframe
{
    width: 750px;
    height: 400px;
}

div.contents img
{
    width: 750px;
}

div.contents span
{
    width: 750px;
}

div.contents h1
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

div.contents h2
{
    font-size: 12px;
    margin-top: 0;
}

div.contents table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

div.contents table td
{
    border: 1px solid rgb(224, 224, 224);
    padding: 5px;
}

div.contents ul
{
    padding: 0;
    list-style-type: none;
}

div.contents ul > li
{
    padding: 5px;
}

ul#wineList
{
    margin-top: 50px;
}

ul#wineList > li
{
    padding-bottom: 15px;
}

ul.producerList
{
    text-align: left;
}

div.imgContainer
{
    padding-top: 15px;
    padding-bottom: 15px;
}

div.imgContainer > a
{
    padding: 10px;
}

img.producerImg
{
    width: 200px;
}

td.appellationCol
{
    font-size: 10px;
    width: 150px;
}
