div.contents
{
    width: 100%;
}

div.contents ul > li
{
    padding: 15px;
}

div.contents iframe
{
    max-width: 100%;
    height: 400px;
}

div.contents img
{
    max-width: 100%;
}

div.contents span
{
    max-width: 100%;
}
