footer
{
    width: 999px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    text-align: right;
}

footer > a
{
    font-size: 14px;
}

footer div p
{
    text-align: left;
}

footer ul
{
    margin: 0;
    padding: 5px;
}

footer ul li
{
    padding-right: 12px;
    display: inline;
}

footer ul li:first-child
{
    padding: 0;
    display: inline;
}

footer ul li a
{
    font-size: 13px;
}

span.numberText
{
    font-family: Helvetica, Arial, sans-serif;
}

footer img.shopLogo
{
    /*
    padding: 5px;
    margin: 30px;
    */
    width: 150px;
}

footer img.shopLogo:hover
{
    opacity: 0.5;
}

